/* Page Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.301);
    background-blend-mode: multiply;
    background-size: contain;
}

/* Calculator Styling */

#calculator-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 17rem;
    height: 25rem;
    box-shadow: 0px 0px 12px 6px black;
}

button {
    padding: 0.75rem;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.856);
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: rgb(117, 112, 112);
    box-shadow: 0px 0px 6px 2px rgb(19, 19, 20);
}

#clear-btn {
    grid-column-start: 1; 
    grid-column-end: 3; 
}

#equals-btn {
    grid-column-start: 3; 
    grid-column-end: 5; 
    background: rgb(243, 150, 44);
}

.op-btn {
    background: rgb(61, 132, 160);
}

.op-btn:hover {
    background: rgb(93, 157, 182);
    box-shadow: 0px 0px 6px 2px rgb(19, 19, 20);
}

/* Display Styling */

#display-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    grid-column-start: 1; 
    grid-column-end: 5; 
    background: linear-gradient(to right, rgb(228, 217, 224), rgb(211, 179, 199));
    padding: 0.5rem;
    min-height: 5rem;
}

#display-container:hover {
    cursor: pointer;
}

#display-prev {
    font-size: 1.25rem;
}

#display-curr {
    font-size: 1.9rem;
}